<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>

<table>
    <tr>
        <th>Patient_id</th>
        <th>name</th>
     

    </tr>
    
    <% @patients.each do |patient| %>
    <tr>
        <td><%= patient.Patient_id %></td>
        <td><%= patient.Name %></td>
    </tr>
    <% end %>
</table>

<br>
<br>
<br>